<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container pt-5">
    <h3>Employee List</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Email address</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employees %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'employee_details' emp.id %}">{{ emp.first_name }} {{ emp.last_name }}</a></td>
      <td>{{ emp.designation }}</td>
      <td>{{ emp.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
</html>